/* swipper autoridades  */

.contenedorSwipperAutoridades {
    position: relative !important;
    overflow: visible !important;
}

.tituloAutoridades{
    font-size: 18px !important;
    color: var(--color-primary);
}

/* Sube los bullets */
.contenedorSwipperAutoridades .swiper-pagination {
    position: relative;
    bottom: 0;
    margin-bottom: 1rem;
}


.swiper-pagination-bullet {
    background-color: var(--color-primary);
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--color-celeste);
}

/* vocales  */

.separadorBorde {
    padding-top: 2rem;
}

.linea-vertical {
    width: 2px;
    background-color: var(--color-primary);
    margin-left: 30px;
    height: 100%;
}

@media (max-width: 768px) {
    .linea-vertical{
        display: none;
    }
}

/* cards */

.card {
    transition: all 0.2s ease-in-out !important;

}

.card:hover {
    transform: scale(1.05) !important;

}