.banner-electrum {
    background-image: url('/public/img/identidad/logoElectrum.webp');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20%;
    background-color: var(--color-primary);
    margin-top: 2rem;
    margin-bottom: 2rem;

}