:root {
    /* Branding Colors */
    /* --color-primary: #030F27;  */
    --color-primary: #042B60; 
    --color-secondary: #FAEA1E; /* Amarillo secundario */
    --color-background: #ffffff; /* Fondo general */
    --color-terciario: #3B62A7;
    --color-cuarto: #D0121E;
    --color-celeste: #06DCE8;
    
    --color-text: #333333; /* Texto normal */
    --color-text-light: #666666; /* Texto claro */
    --color-error: #e53935; /* Errores */
    --color-success: #43a047; /* Éxitos */
  
    /* Typography */
    --font-family-base: 'Sofia Sans', sans-serif;
    --font-size-base: 1rem;         /* 16px (base) */
    --font-size-small: 0.875rem;     /* 14px */
    --font-size-large: 1.25rem;      /* 20px */
  
    /* Spacings */
    --spacing-small: 0.5rem;         /* 8px */
    --spacing-medium: 1rem;          /* 16px */
    --spacing-large: 2rem;           /* 32px */
  
    /* Borders */
    --border-radius-base: 0.5rem;    /* 8px */
    --border-radius-small: 0.25rem;  /* 4px */
  
    /* Other */
    --transition-base: all 0.3s ease-in-out;
  }
  