/* Footer General */
footer {
    background-color: var(--color-primary);
    color: white;
    padding: 1rem;
}

/* Iconos redes sociales */
.redesSo i {
    color: var(--color-celeste);
}


@media (max-width:768px) {

    .styleColumMobile{
        display: flex;
        flex-direction: column !important;
    }
    
}


