.secretaria-card {
    perspective: 1000px;
    height: 320px;
    /* o el alto que necesites */
    position: relative;
}

.secretaria-card a {
    text-decoration: none;
    display: block;
    height: 100%;
}

.secretaria-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.secretaria-card:hover .secretaria-card-inner {
    transform: rotateY(180deg);
}

.secretaria-card-front,
.secretaria-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #002855, #0077b6);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.secretaria-card-front {
    z-index: 2;
}

.secretaria-card-back {
    transform: rotateY(180deg);
    background: linear-gradient(to bottom, #0077b6, #002855);
}

.secretaria-card-front i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.secretaria-card-front h5 {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 0;
}

.secretaria-card-back p {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Responsive: una columna en XS */
@media (max-width: 768px) {
    .secretaria-card {
        margin-bottom: 2rem;
        height: 300px;
    }
}