.footerAT{
    background-color: #00657e;
}


.contenedorCustom50aniosAT{

}

.contenedorCustom50aniosAT h1{

}

.bloque-1-ag{
    /* background-color: #FFEDB9; */
    background-color: #3F6188;
    color: #f1f1f1;
}



@media (max-width: 768px) {

    .contenedorCustom50aniosAT h1{
        font-size: 2.2rem !important;
    }
    
}